@import url("https://neonui.netlify.app/css/main.css");

:root {
  --gray-100: #f5f5f5;
  --color-overlay-100: #4145453d;
  --color-overlay-400: #3a3c3fc4;
}

.nav-container-custom {
  background-color: var(--gray-100);
  box-shadow: 1px 1px 1px gray;
  position: fixed;
  top: 0;
  z-index: 1;
}
.list-style-none {
  list-style: none;
}

.gap-sm {
  gap: 4px;
}
.card.p-2 {
  padding: 2rem;
}

.br-1px {
  border: 1px solid;
}

.mr-top-md {
  margin-top: 3.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

